<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="strConn" connectionString="data source=diretorskinner.database.windows.net;initial catalog=DiretorSkinner;Integrated Security=false;User ID=diretorskinner;Password=2018@UNIP" />
  </connectionStrings> 
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Host" value="net.tcp://localhost:808/DiretorSkinner/DiretorSkinner.Servico/DiretorSkinner/mex" />
    <add key="UsrGrafo" value="bdclasse" />
    <add key="UsrSql" value="" />
    <add key="PwdGrafo" value="b.GjXdzhkmveE7.gbSCFf5e7rgbr0yA" />
    <add key="PwdSql" value="" />
    <add key="HostGrafo" value="https://hobby-gpnhpjlogddlgbkeonjlcoal.dbs.graphenedb.com:24786/db/data" />
    <add key="HostSql" value="\\Base\\base.s3db" />
  </appSettings>
</configuration>