<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="Host" value="net.tcp://localhost:809/DiretorSkinner/DiretorSkinner.Servico/DiretorSkinner/mex" />-->
    <add key="UsrGrafo" value="mymovie" />
    <!--<add key="UsrGrafo" value="bdclasse" />-->
    <add key="UsrSql" value="" />
    <add key="PwdGrafo" value="b.V71F9RzKMhWm.mV1fDXLbwbXHmHVl" />
    <!--<add key="PwdGrafo" value="b.GjXdzhkmveE7.gbSCFf5e7rgbr0yA" />-->
    <add key="PwdSql" value="" />
    <add key="HostGrafo" value="https://hobby-oekniicnhajogbkejllinoal.dbs.graphenedb.com:24780/db/data/" />
    <!--<add key="HostGrafo" value="https://hobby-gpnhpjlogddlgbkeonjlcoal.dbs.graphenedb.com:24780/db/data/" />-->
    <add key="HostSql" value="\\Base\\base.s3db" />      
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Host" value="net.tcp://localhost:809/DiretorSkinner/DiretorSkinner.Grafo.Servico/DiretorSkinnerGrafo/mex" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="DiretorSkinner.Grafo.Servico.DiretorSkinnerGrafo">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:809/DiretorSkinner/DiretorSkinner.Grafo.Servico/DiretorSkinner/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="net.tcp://localhost:809/DiretorSkinner/DiretorSkinner.Grafo.Servico/DiretorSkinnerGrafo/" bindingConfiguration="SeymourSkinner" binding="netTcpBinding" contract="DiretorSkinner.Grafo.Servico.IDiretorSkinnerGrafo">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SeymourSkinner" hostNameComparisonMode="StrongWildcard" sendTimeout="00:59:59" maxReceivedMessageSize="2147483647" transferMode="Buffered" portSharingEnabled="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceTimeouts transactionTimeout="00:00:59:59" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>