<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IDiretorSkinnerGrafo" closeTimeout="00:59:59"
            openTimeout="00:59:59" receiveTimeout="00:59:59" sendTimeout="00:59:59"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="200"
            maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binding>
        </netTcpBinding>
      </bindings>
        <client>
            <endpoint address="net.tcp://localhost:809/DiretorSkinner/DiretorSkinner.Grafo.Servico/DiretorSkinnerGrafo/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDiretorSkinnerGrafo"
                contract="Seymour.IDiretorSkinnerGrafo" name="NetTcpBinding_IDiretorSkinnerGrafo">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>